* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: ease;
    scroll-padding-top: 20px;

}

body {
    background-color: #f8f8f8;
    height: 100vw;
}

/* FONTOVI */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: Archivo-Black;
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}


/* header section */
div.white-bg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

div.header-logo-container {
    position: relative;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: inherit;
}

div.header-logo-container>img {
    display: flex;
    flex-wrap: wrap;
    width: 335px;
}

div.links {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 350px;
    justify-content: space-evenly;
    width: 45%;
    align-content: center;

}

div.links>a,
.dropdown>a {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    height: 60px;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
}

div.links>a:hover,
.dropdown>a:hover {
    cursor: pointer;
    transition: 0.15s;
    color: #ec7333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 111;
    top: 60%;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Roboto;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 767px) {
    /* HEADER SECTION */

    div.white-bg {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 13vw;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        left: unset;

    }

    div.header-logo-container {
        left: unset;
    }

    div.header-logo-container>img {
        width: 40vw;
    }

    div.links {
        display: none;
    }

    div.links>a,
    .dropdown>a {
        display: none;
    }

}

@media screen and (min-width: 767px) and (max-width:1500px) {

    div.white-bg {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: row;
        left: unset;
    }

    div.header-logo-container {
        left: unset;

    }

    div.header-logo-container>img {
        width: 30vw;
        
    }

    div.links {
        top: 0.5vw;
        justify-content: space-evenly;
        width: 50%;
        left: unset;
    }

    div.links>a,
    .dropdown>a {
        font-size: 1.4vw;
    }

    div.search-icon {
        left: unset;

    }

    .fa-magnifying-glass:before,
    .fa-search:before {
        content: "\f002";
        font-size: 1.7vw;
        left: unset;
    }

}



/* banner section */
.image-section {
    position: relative;
}

div.image-section>img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    animation: overlayAnimation ease 3s;
    background-image: linear-gradient(to right, rgba(0, 116, 211, 0.658), #5094facc);
}

@keyframes overlayAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

div.text-and-button {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    animation: textAnimation ease 1.5s
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p.hero-text {
    position: relative;
    bottom: 1.6vw;
    font-size: 2.5vw;
    color: white;
    text-shadow: 0px 2px 2px rgba(40, 40, 40, 0.28);
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.5vw;
}


button.contact-us {
    position: relative;
    top: 2.5vw;
    width: 13.1vw;
    height: 3.4vw;
    border: none;
    background-color: #ec7333;
    color: white;
    font-size: 1.15vw;
    text-decoration: none;
    letter-spacing: 1px;
    box-shadow: 3px 3px 6px 0px rgb(232 244 253 / 26%);
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

button.contact-us:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #f8f8f8;
    background-color: #1b5aa3;
    border: none;
}

@media screen and (max-width: 768px) {

    div.image-section>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        writing-mode: vertical-lr;
        background-size: contain;
        background-position: center;
    }

    p.hero-text {
        font-size: 5vw;
    }



    button.contact-us {
        top: 7vw;
        width: 32.8vw;
        height: auto;
        font-size: 3vw;
        padding: 9px;
    }
}

@media screen and (min-width: 767px) and (max-width:1500px) {
    button.contact-us {
        width: 20vw;
        height: auto;
        font-size: 2vw;
        padding: 9px;
    }
}

#menu {
    display: none;
}

#menu ul {
    display: none;
}

#burger-menu {
    display: none;
}

@media screen and (max-width:767px) {

    /* MENU FOR MALL DEVICES */

    #burger-menu {
        display: block;
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 50px;
        overflow: visible;
        position: relative;
        z-index: 3;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        background: #0d325d;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out !important;
    }

    #burger-menu span:before,
    #burger-menu span:after {
        content: "";
    }

    #burger-menu span:before {
        left: 0px;
        top: -8px;
        width: 27px;
    }

    #burger-menu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }

    #burger-menu span:after {
        left: 0px;
        top: 7px;
        width: 27px;
    }

    #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
        background: white;
    }

    #burger-menu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
        background: white;
    }

    #burger-menu.close span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
        background: white;
    }

    #menu {
        display: block;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    }

    #menu.menu-overlay {
        visibility: visible;
        opacity: 1;
        padding-top: 100px;
        background: linear-gradient(180deg, #000035f0, #0d325d);
        z-index: 2;
    }

    #menu ul {
        padding: 0;
        display: block;
    }

    #menu li {
        list-style: none;
    }

    #menu a {
        color: #fff;
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
        font-family: roboto;
    }
}